body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: #777777;
    width: 960px;
    font-size: 18px;
    margin: 10px;
    padding: 30px;
}
Header, Nav, Section, Aside, Footer {
    background: #ebebeb;
    text-align: center;
    margin: 10px;
    padding: 30px;
}
Article {
    color: #ebebeb;
    background: #777777;
    margin: 10px;
    padding: 30px;
}
h1, p {
    color: #777777;
    background: #ebebeb;
    padding: 30px;
}
section {
    float: left;
    width: 495px;
}
aside {
    float: right;
    width: 300px;
    height: 344.083px;
    margin: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
footer {
    clear: both;
}